.container{
    background-color: rgb(49, 189, 15);
    display: flex

    
    
}

.box1{
    background-color: blue;
    height: 200px;
    width: 150px;
}

.box2{
    background-color: red;
    height: 200px;
    width: 150px;
}

.box3{
    background-color:greenyellow;
    height: 200px;
    width: 150px;
}

.box4{
    background-color: rgb(255, 0, 106);
    height: 200px;
    width: 150px;
}

.box5{
    background-color: rgb(219, 146, 9);
    height: 200px;
    width: 150px;
}

.box6{
    background-color: rgb(117, 110, 110);
    height: 200px;
    width: 150px;
}